alabaster 
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project 
anyio 
appdirs==1.4.4
applaunchservices==0.2.1
appnope 
appscript 
argh==0.26.2
argon2-cffi
asn1crypto 
astroid 
astropy 